certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
contextvars==2.4
idna==3.2
immutables==0.16
lazy-property==0.0.1
llvmlite==0.37.0
mmparse==0.6
numba==0.54.0
numpy==1.20.3
pycparser==2.20
pygraphblas==5.1.7.4
requests==2.26.0
scipy==1.7.1
ssgetpy==1.0rc2
suitesparse-graphblas==5.1.7.0
tqdm==4.62.2
urllib3==1.26.6
